<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/public-style.css">
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Article Content</title>
</head>
<body>
    <div class="main-panel">
        <div class="main-panel-cover">

        </div>
    </div>
</body>
</html>